
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 22px;
}

body {
  min-height: 100vh;
}

.App {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
  
}

.App-link {
  color: #61dafb;
}


.ul {
  list-style-type: none
}